@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Titan+One&display=swap');




:root{
    --fonteh1: 'Titan One';
    --fontepoema:'Handlee';
}

*{
 margin: 0px;
 padding: 0px;
}

header{
    background-color: black;
    height: 200px;
    color: grey;
    text-align: center;
    
}

header h1{
    padding: 40px 40px 10px 40px;
    font-size: 4em;
    font-weight: lighter;
    font-family: var(--fonteh1);
    color: white;
}

header a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline;
}

main p{
    font-family: var(--fontepoema);
    font-weight: bold;
    font-size: 1.5em;
}

section{
    padding: 30px;
}